body {
    font-family: arvo;
    min-height: 100vh;
    position: relative;
}

.contenu {
    padding-bottom: 10rem;
}

/* menu */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #96c7e793;
    color: black;
}

.liens {
    height: 100%;
    margin: auto;
}

.liens ul {
    align-items: flex-start;
    display: flex;
    margin: 0;
    padding: 0;
}

.liens li {
    align-items: flex-start;
    list-style: none;
    display: inline-block;
}

.liens li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: black;
}

.liens a:hover {
    color: #3ca0e7;
    border-bottom: 2px solid #3ca0e7;
    margin: -2px;
}

.icon {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.icon .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .icon {
        display: flex;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .liens {
        width: 100%;
        flex-direction: column;
        display: none;
    }

    .liens li {
        text-align: center;
        display: flex;
    }
    
    .liens li a {
        padding: .5rem 1rem;
    }

    .liens a:hover {
        color: #3ca0e7;
        border-left: 2px solid #3ca0e7;
        border-bottom: 2px transparent;
    }

    .liens.active {
        display: flex;
    }
}

/* Contenu */

h1 {
    margin-top: 2%;
    text-align: center;
}

h1:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 10%;
    border-bottom: 2px solid #3ca0e7;
}

p {
    text-align: justify;
    margin-right: 2%;
    margin-left: 2%;
}

.liens-externes {
    margin-left: 2%;
    margin-right: 2%;
    text-decoration: none;
}

@media (max-width: 500px) {
    .liens-externes {
        font-size: small;
    }
}

h2 {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    margin-top: 3%;
    margin-left: 2%;
}

img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

footer {
    position: absolute;
    background-color: #96c7e793;
    bottom: 0;    
    left: 0;
    width: 100%;
    height: 7rem;
}

/*placement image*/

.img-p {
    display: inline-block;
    width: 75%;
}

.img {
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 1230px) {
    .img-p {
        display: unset;
        width: 100%;
    }

    .img {
        margin-top: 2%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

/* footer */

.soulignement {
    text-decoration: underline;
    font-weight: bold;
}

.contact {
    width: 50%;
}

.footer-icon {
    color: black;
}

.copy {
    color: grey;
    right: 0;
    width: 150px;
    bottom: 2rem;
    position: absolute;
}

@media (max-width: 400px) {
    .contact a {
        font-size: 12px;
    }

    .copy {
        font-size: 12px;
    }
}

@media (max-width: 380px) {
    .title-footer {
        font-size: 12px;
    }

    .contact a {
        font-size: 10px;
    }

    .copy {
        font-size: 10px;
    }
}